# ---------------------
# PATHS
# ---------------------
node_modules/
.vscode/
**/01_DOWLOADFILES/
**/02_DESIGN/
_SANDBOX/
_github_pages

# ---------------------
# FILES 
# ---------------------
*.zip
.*7z
.DS_Store
.prettierignore
Thumbs.db

# ---------------------
# FRONTENDMENTOR
# ---------------------
*.sketch
*.fig
*.xd
*.psd
